<div class="card text-center">
    <div class="card-header">

    </div>
    <div class="card-body">
        <h5 class="card-title">A simple blog from The Odin Project</h5>
        <p class="card-text">This is Paul Cabeza, backend developer specialized with python but now learning Ruby on rails.</p>
        <a href="https://twitter.com/paulheading" class="btn btn-primary">Contact me @ twitter</a>
    </div>
    <div class="card-footer text-muted">
        Powered by <a href="https://twitter.com/paulheading">@paulheading</a> 
    </div>
</div>